literature/articles/semsimula_paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Raum_Zeit_Materie_Weyl_1919.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Space-Time-Matter_Hermann_Weyl_1950.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/weyl_electron_and_gravitation_part_I_1929.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Semantic_Tube_Prediction_Beating_LLM_Data_Efficiency_with_JEPA_Huang_2026.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Understanding_and_Improving_Transformer_From_a_Multi-Particle_Dynamic_System_Point_of_View_Lu_2019.pdf filter=lfs diff=lfs merge=lfs -text
