[submodule "semsimula-paper"]
	path = semsimula-paper
	url = https://github.com/dimitarpg13/semsimula-paper.git
[submodule "macaron-net"]
	path = macaron-net
	url = https://github.com/zhuohan123/macaron-net.git
